:concurrency: 3
:timeout: 60
:verbose: true
:queues:
  - critical
  - default
  - mailers
  - active_storage_analysis
  - active_storage_purge
:scheduler:
  :schedule:
    mark_cart_as_abandoned:
      cron: "*/5 * * * *" 
      class: "MarkCartAsAbandonedJob"
      description: "Marks shopping carts as abandoned if inactive for 3 hours"